<!-- registration.component.html -->
<div class="container m-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="form-group mt-3">
            <label for="firstName">First Name:</label>
            <input formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="First Name">
          </div>
  
          <div class="form-group mt-3">
            <label for="lastName">Last Name:</label>
            <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="Last Name">
          </div>
  
          <div class="form-group mt-3">
            <label for="email">Email:</label>
            <input formControlName="email" type="email" class="form-control" id="email" placeholder="info@example.com">
          </div>
  
          <div class="form-group mt-3">
            <label for="password">Password:</label>
            <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
          </div>
  
          <div class="form-group mt-3">
            <label for="workshopPosition">Workshop Position:</label>
            <select formControlName="workshopPosition" class="form-control" id="workshopPosition">
              <option value="OWNER">Owner</option>
              <option value="MECHANIC">Mechanic</option>
            </select>
          </div>
  
          <button type="submit" class="btn btn-primary btn-block mt-3">Register</button>
  
          <div class="text-center mt-3">
            <p>Already have an account?</p>
            <a routerLink="/login" class="btn btn-link">Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  