<div class="container mt-5">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the Bicycle Workshop Management System</h1>
      <p class="lead">
        Streamline your bicycle workshop operations, manage tasks efficiently, and deliver exceptional service to your customers.
      </p>
      <hr class="my-4">
      <p>
        Get started by logging in or registering to explore the features and benefits of our system.
      </p>
      <div class="text-center mt-4">
        <a class="btn btn-primary btn-lg mr-2 m-4" (click)="redirectToLogin()">Login</a>
        <a class="btn btn-success btn-lg m-4" (click)="redirectToRegister()">Register</a>
      </div>
    </div>
  </div>
  