<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h3>Assigned Workshop Details</h3>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item"><strong>ID:</strong> {{ assignedWorkshop.id }}</li>
              <li class="list-group-item"><strong>Created At:</strong> {{ assignedWorkshop.createdAt}}</li>
              <li class="list-group-item"><strong>Owner ID:</strong> {{ assignedWorkshop.ownerId }}</li>
              <li class="list-group-item"><strong>Name:</strong> {{ assignedWorkshop.name }}</li>
              <li class="list-group-item"><strong>Street:</strong> {{ assignedWorkshop.street }}</li>
              <li class="list-group-item"><strong>Building Number:</strong> {{ assignedWorkshop.buildingNumber }}</li>
              <li class="list-group-item"><strong>Apartment Number:</strong> {{ assignedWorkshop.apartmentNumber }}</li>
              <li class="list-group-item"><strong>City:</strong> {{ assignedWorkshop.city }}</li>
              <li class="list-group-item"><strong>ZIP Code:</strong> {{ assignedWorkshop.zipCode }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  