<app-navbar></app-navbar>
<div class="container mt-4">
  <h2>Orders Dashboard</h2>
  <button mat-raised-button color="primary" (click)="createNewOrder()">Create New Order</button>
  <div *ngIf="orders && orders.length > 0; else noOrders">
    <table mat-table [dataSource]="orders" class="mat-elevation-z8">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let order">{{ order.id }}</td>
      </ng-container>

      <!-- Created At Column -->
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Created At</th>
        <td mat-cell *matCellDef="let order">{{ order.createdAt | date }}</td>
      </ng-container>

      <!-- Collected At Column -->
      <ng-container matColumnDef="collectedAt">
        <th mat-header-cell *matHeaderCellDef>Collected At</th>
        <td mat-cell *matCellDef="let order">{{ order.collectedAt | date }}</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let order">
          <ng-container *ngIf="order.status !== 'COLLECTED'; else statusCollected">
            <mat-form-field>
              <mat-label>Status</mat-label>
              <mat-select [(value)]="order.status" (selectionChange)="changeOrderStatus(order.id, $event.value)">
                <mat-option value="NEW">New</mat-option>
                <mat-option value="IN_PROGRESS">In progress</mat-option>
                <mat-option value="DONE">Done</mat-option>
                <mat-option value="COLLECTED">Collected</mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
          <ng-template #statusCollected>
            {{ order.status }}
          </ng-template>
        </td>
      </ng-container>

      <!-- Client Column -->
      <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef>Client</th>
        <td mat-cell *matCellDef="let order">{{ order.client.firstName }} {{ order.client.lastName }}</td>
      </ng-container>

      <!-- Bike Column -->
      <ng-container matColumnDef="bike">
        <th mat-header-cell *matHeaderCellDef>Bike</th>
        <td mat-cell *matCellDef="let order">{{ order.bike.brand }} {{ order.bike.model }}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let order">
          <button mat-icon-button color="primary" (click)="viewOrderDetails(order.id)">
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Define columns to display -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <ng-template #noOrders>
    <p>No orders available.</p>
  </ng-template>
</div>
